# Workflow that is triggered whenever a new PR is created

on:
  pull_request:
    branches:
      - "base-2025"

jobs:
  notify_pr:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: "${{ github.token }}"
    steps:
      - name: Notify New PR to Listeners
        run: |
          echo "github_context=${{ github }}" >> $GITHUB_OUTPUT
          echo "{\"event_type\" : \"foundational-packages-pr\", \"client_payload\": $github_context }" > pull_request.json
          cat pull_request.json
          gh api repos/habitat-sh/hab-pkg-builder/dispatches --input pull_request.json

